@{
    ViewBag.Title = "Home Page";
}

<h1 style="background-color:dodgerblue; color: white; text-align: center; line-height:70px; margin-top:unset; font-weight:700;"> Blog Tutorail With Jquery</h1>

<div class="container">
    <form>
        <div class="container-fluid">
            <div class="card card-default">
                <div class="card-body">
                    <div class="form-group row ">
                        <div class="col-md-2"></div>
                        <span class="col-md-2">ID</span>
                        <div class="col-md-6">
                            <input type="text" id="id" name="id" class="form-control form-control-sm" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-2"></div>
                        <span class="control-span col-md-2">Name</span>
                        <div class="col-md-6">
                            <input type="text" id="name" name="name" class="form-control form-control-sm" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>


    <div class="container-fluid">
        <div class="card card-default">
            <div class="card-body row">
                <div class="col-md-3">
                    <span class="control-span ">Name</span>
                    <div class=" ">
                        <input type="text" id="detail_name" class="form-control form-control-sm" />
                    </div>
                </div>
                <div class="col-md-3 ">
                    <span class="control-span ">Position</span>
                    <div class=" ">
                        <input type="text" id="detail_position" class="form-control form-control-sm" />
                    </div>
                </div>

                <div class="col-md-3 ">
                    <span class="control-span ">Salary</span>
                    <div class=" ">
                        <input type="text" id="detail_salary" class="form-control form-control-sm" />
                    </div>
                </div>
                <div class="col-md-3 ">
                    <span class="control-span ">Date</span>
                    <div class=" ">
                        <input type="text" id="detail_date" class="form-control form-control-sm" />
                    </div>
                </div>

                <div class="col-md-3 ">
                    <span class="control-span ">Office</span>
                    <div>
                        <input type="text" id="detail_office" class="form-control form-control-sm" />
                    </div>
                </div>
                <div class="col-md-3 ">
                    <span class="control-span ">Extn</span>
                    <div>
                        <input type="text" id="detail_extn" class="form-control form-control-sm" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table id="table_list" class="table  table-bordered table-hover" width="100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Positon</th>
                <th>Salary</th>
                <th>Start_date</th>
                <th>Office</th>
                <th>Extn</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<div id="nav" class="container-fluid">
    <div class="card card-default">
        <div class="card-body row" style="padding-bottom: 2px;padding-top:2px; ">
            <button class="btn btn-primary col-sm-1">f1</button>
            <button class="btn btn-primary col-sm-1">f2</button>
            <button id="f3" class="btn btn-primary col-sm-1">f3 search</button>
            <button class="btn btn-primary col-sm-1">f4</button>
            <button id="f5" class="btn btn-primary col-sm-1">f5 clear</button>
            <button class="btn btn-primary col-sm-1">f6</button>
            <button class="btn btn-primary col-sm-1">f7</button>
            <button class="btn btn-primary col-sm-1">f8</button>
            <button class="btn btn-primary col-sm-1">f9</button>
            <button id="f10" class="btn btn-primary col-sm-1">f10 save</button>
            <button class="btn btn-primary col-sm-1">f11</button>
            @*<button class="btn btn-primary col-sm-1">f12</button>*@
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Data/blog.js"></script>

    <script src="~/Content/js/myjquery.js"></script>
}
