@{
    ViewBag.Title = "Home Page";
}
<style>
    .panel {
        padding: 20px;
    }

    .container-fluid {
        margin-bottom: 30px;
    }

    .row .btn {
        margin-right: 8px;
    }
</style>
<h1 style="background-color:dodgerblue; color: white; text-align: center; line-height:70px; margin-top:unset; font-weight:700;"> Blog Tutorail With Jquery</h1>

<div class="container">
    <form>
        <div class="container-fluid">
            <div class="card card-default">
                <div class="card-body">
                    <div class="form-group row ">
                        <div class="col-md-2"></div>
                        <span class="col-md-2">ID</span>
                        <div class="col-md-6">
                            <input type="text" id="id" name="id" class="form-control form-control-sm" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-2"></div>
                        <span class="control-span col-md-2">Name</span>
                        <div class="col-md-6">
                            <input type="text" id="name" name="name" class="form-control form-control-sm" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>


    <div class="container-fluid">
        <div class="card card-default">
            <div class="card-body row">
                <div class="col-md-3">
                    <span class="control-span ">Name</span>
                    <div class=" ">
                        <input type="text" id="detail_name" class="form-control form-control-sm" />
                    </div>
                </div>
                <div class="col-md-3 ">
                    <span class="control-span ">Position</span>
                    <div class=" ">
                        <input type="text" id="detail_position" class="form-control form-control-sm" />
                    </div>
                </div>

                <div class="col-md-3 ">
                    <span class="control-span ">Salary</span>
                    <div class=" ">
                        <input type="text" id="detail_salary" class="form-control form-control-sm" />
                    </div>
                </div>
                <div class="col-md-3 ">
                    <span class="control-span ">Date</span>
                    <div class=" ">
                        <input type="text" id="detail_date" class="form-control form-control-sm" />
                    </div>
                </div>

                <div class="col-md-3 ">
                    <span class="control-span ">Office</span>
                    <div>
                        <input type="text" id="detail_office" class="form-control form-control-sm" />
                    </div>
                </div>
                <div class="col-md-3 ">
                    <span class="control-span ">Extn</span>
                    <div>
                        <input type="text" id="detail_extn" class="form-control form-control-sm" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table id="table_list" class="table  table-bordered table-hover" width="100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Positon</th>
                <th>Salary</th>
                <th>Start_date</th>
                <th>Office</th>
                <th>Extn</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<div class="container-fluid">
    <div class="card card-default">
        <div class="card-body row" style="padding-bottom: 2px;padding-top:2px; ">
            <button class="btn btn-primary col-sm-1">f1</button>
            <button class="btn btn-primary col-sm-1">f2</button>
            <button id="f3" class="btn btn-primary col-sm-1">f3 search</button>
            <button class="btn btn-primary col-sm-1">f4</button>
            <button id="f5" class="btn btn-primary col-sm-1">f5 clear</button>
            <button class="btn btn-primary col-sm-1">f6</button>
            <button class="btn btn-primary col-sm-1">f7</button>
            <button class="btn btn-primary col-sm-1">f8</button>
            <button class="btn btn-primary col-sm-1">f9</button>
            <button id="f10" class="btn btn-primary col-sm-1">f10 save</button>
            <button class="btn btn-primary col-sm-1">f11</button>
            @*<button class="btn btn-primary col-sm-1">f12</button>*@
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Data/Blog.js"></script>

    <script>
        $(document).ready(function () {
            var table = $('#table_list').DataTable(
                {
                    data: JSON.parse(dataJson).users,
                    columns: [
                        { data: "id" },
                        { data: "name" },
                        {
                            data: function (row) {
                                var offices = JSON.parse(dataJson).positions;
                                var result = '<select id="position_' + row["id"] + '" class="form-control form-control-sm">';
                                offices.forEach(function (item) {
                                    if (row["office"] == item.id) {
                                        result += '<option selected value="' + row["position"] + '">' + item.name + '</option>'
                                    }
                                    else {
                                        result += '<option value="' + item.id + '">' + item.name + '</option>'
                                    }
                                });
                                result += '</select >';
                                return result;
                            } },
                        {
                            data: function (row) {
                                return '<input type="number" data-id="' + row["id"] + '" id="salary_' + row["id"] + '" name="salary" class="form-control form-control-sm" value="' + row["salary"] + '"/>';
                            }
                        },
                        {
                            data: function (row) {
                                return '<input type="date" id="date_' + row["id"] + '" class="form-control form-control-sm" value="' + row["start_date"] + '"/>';
                            }
                        },

                        {
                            data: function (row) {
                                var offices = JSON.parse(dataJson).offices;
                                var result = '<select id="office_' + row["id"] + '" class="form-control form-control-sm">';
                                offices.forEach(function (item) {
                                    if (row["office"] == item.id) {
                                        result += '<option selected value="' + row["office"] + '">' + item.name + '</option>'
                                    }
                                    else {
                                        result += '<option value="' + item.id + '">' + item.name + '</option>'

                                    }
                                });
                                result += '</select >';
                                return result;
                            }
                        },
                        {
                            data: function (row) {
                                return '<input type="number" id="extn_' + row["id"] + '" class="form-control form-control-sm" value="' + row["extn"] + '"/>';
                            }
                        },
                        { data: "delete" }
                    ],
                    columnDefs: [
                        {
                            targets: -1,
                            data: null,
                            defaultContent: '<button type="button" class="btn btn-danger">Delete</button>'
                        }
                    ]
                }
            );

            //var table = $('#table_list').DataTable();
            $('#table_list tbody').on('click', 'tr', function () {
                var data = table.row(this).data();
                $('#detail_name').val(data["name"]);
                $('#detail_position').val(data["position"]);
                $('#detail_salary').val(data["salary"]);
                $('#detail_date').val(data["start_date"]);
                $('#detail_office').val(data["office"]);
                $('#detail_extn').val(data["extn"]);
            });

            $('#f3').on('click', function () {
                var id = $('#id').val();
                var name = $('#name').val();

                table.columns(0).search(id).draw();
                table.columns(1).search(name).draw();
            });

            $('#f5').on('click', function () {
                $('#id').val('');
                $('#name').val('');

            });

            $('#f10').on('click', function () {


                var data = table.rows().data();
                data.each(function (item, index) {
                    // bind salary
                    var salary = $('#salary_' + item.id).val();
                    if (salary) {
                        item.salary = salary;
                    }

                    // bind start_date
                    var start_date = $('#date_' + item.id).val();
                    if (start_date) {
                        item.start_date = start_date;
                    }

                    // bind extn
                    var extn = $('#extn_' + item.id).val();
                    if (extn) {
                        item.extn = extn;
                    }

                    // bind position
                    var position = $('#position_' + item.id + ' option:selected').val();
                    if (position) {
                        item.position = position;
                    }

                    // bind office
                    var office = $('#office_' + item.id + ' option:selected').val();
                    if (office) {
                        item.office = office;
                    }
                });

                console.log(data);
            });
        });
    </script>
}
